@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: local("Open Sans"), url("/fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: local("Roboto"), url("/fonts/Roboto/Roboto-Regular.ttf");
}

:root {
    --basalt: #161616;
    --slate: #424242;
    --marble: #EFEFEF;
    --ruby: #E0115F;
    --amber: #FF7E00;
    --sulphur: #F1E14B;
    --emerald: #50C878;
    --jade: #01881B;
    --turquoise: #30D5C8;
    --sapphire: #0F52BA;
    --amethyst: #9C43F4;

    --bg-color: var(--basalt);
    --bg-lite: var(--slate);
    --fg-color: var(--marble);
    --acc-color: var(--ruby);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

a {
    color: var(--acc-color)
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-items: center;
    margin: 0;
}

main {
    flex: 1 0 auto;
    padding: 20px;
    word-wrap: break-word;
    margin: 0 100px;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 80px;
}

header h1 {
    margin-left: 10px;
    padding-bottom: 6px;
}

header .icon {
    margin-left: 10px;
    height: 50px;
    width: auto;
    border-radius: 50%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--bg-lite);
    height: 50px;
    flex: none;
} 

nav ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
    height: 100%;
}

nav ul li {
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    height: 100%;
    padding: 0 20px;
    color: var(--fg-color);
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
}

nav ul li:hover {
    background-color: var(--acc-color);
    color: var(--bg-color);
    cursor: pointer;
}
nav ul li.current {
    background-color: var(--acc-color);
    color: var(--bg-color);
    cursor: pointer;
}

ul.nodots {
    list-style: none;
}

footer {
    flex-shrink: 0;
    padding: 20px;
    border-radius: 10px;
}

div#news-container {
    padding: 5px 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--bg-lite);
}

figure.news-item {
    max-width: 250px;
    max-height: 175px;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}

figure.news-item img {
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
}

figure.news-item figcaption {
    margin-bottom: 2%;
    color: var(--fg-color);
    line-height: 100%;
}

figure.news-item a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Roboto', Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
}

code {
    font-family: monospace;
    border: solid 2px var(--bg-lite);
    border-radius: 5px;
    padding: 5px;
}

.centred {
    text-align: center;
}

div.colorswatch {
    height: 20px;
    width: 20px;
    margin: 0;
    display: inline-block;
    border: solid 2px var(--bg-color);
}

div.colorswatch.basalt {
    background-color: var(--basalt);
    border: solid 2px var(--marble);
}
div.colorswatch.slate {
    background-color: var(--slate);
}
div.colorswatch.marble {
    background-color: var(--marble);
}
div.colorswatch.ruby {
    background-color: var(--ruby);
}
div.colorswatch.amber {
    background-color: var(--amber);
}
div.colorswatch.sulphur {
    background-color: var(--sulphur);
}
div.colorswatch.emerald {
    background-color: var(--emerald);
}
div.colorswatch.jade {
    background-color: var(--jade);
}
div.colorswatch.turquoise {
    background-color: var(--turquoise);
}
div.colorswatch.sapphire {
    background-color: var(--sapphire);
}
div.colorswatch.amethyst {
    background-color: var(--amethyst);
}
